.mm{border:solid;display:inline-block; width:1567px; height:80px;color:#ff08ea; }
h1{color:black;}
.nn{border:solid;display:inline-block; width:150px;margin:15px; height:600px;text-align:center;color:#ff08ea;color:#0825ff;}
h2{color:black;}
h1{color:black;}
.bb{border:solid; width:1100px;display:inline-block; height:600px;margin:30px;color:#ff08ea;color:#0825ff;}
h1{color:black;text-align:center;}

.pp{border:solid; width:150px; display:inline-block;height:600px;color:#25ff0d;margin:15px; }
h2{text-align:center;}


.op{border:solid;display:inline-block; width:1567px; height:70px;color:#ff08ea;text-align:center;}
h1{text-align:center;}
